.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding-bottom: 50px;
    flex-wrap: wrap;
    
}
.card_d{
    border-radius: 10px;
    width: 290px;
    height: 480px;
    overflow: hidden;
    padding: 5px 7px;
    margin-top: 60px;
    box-shadow: 0px 0px 15px 3px black;
    text-align: center;
    
}
.card_d img{
    border-radius: 10px;
    width: 260px;
    height: 180px;
}
.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: 20px;
    font-size: 25px;
     margin-top: 10px;
}
.info1{
    text-align: justify;
    font-size: 18px;
}
.btn{
    
}