body{
    margin: 0;
    padding: 0;
}

/*
   purple : #a31aff
   black : 
   white: 
   footer color : #25255b
   */

   .footer{
    display: flex;
    position: relative;
   margin-top: 830px;
   background-color:  #25255b;
   height: 400px;
   }
   
   .footer_A{
    width: 280px;
    height: 210px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
   }
   .footer_heading{
    color: white;
    text-decoration:underline;
    margin-bottom: 60px;
    margin-left: 25px ;
}

   .footer_info_1{
    font-size: 25px;
    text-align: center;
    text-decoration: none;
   }
   .footer_link{
    text-decoration: none;
    color: white;
   }
   .footer_phone{
    width:30px;
    height: 30px;
    position: relative;
    top: 225px;
    left: 50px;
    color: white;
   }
   .footer_mail{
    width:30px;
    height: 30px;
    position: relative;
  top: 268px;
  left: 20px;
   }
   .footer_icons{
    margin-left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   }
   .footer_icons:hover{
  box-shadow: 0px 0px 10px 3px white;
   }
   .footer_B{
    margin-left: 20px;
    margin-top: 20px;
   }
   .footer_heading_1{
    margin-left: 0px;
    color: white;
    text-decoration: underline;
    margin-bottom: 60px;

   }
   .footer_info_2{
    margin-left: 10px;
    font-size: 20px;
    color: white;
   }

   .map{
    width: 450px;
    margin-left: 100px;
    height: 300px;
    margin-top: 50px;
   }

   .hamburger{
    height: 40px;
    right: 10px;
    position: absolute;
   }
   @media screen and (max-width:700px){
     .hamburger{
       visibility: visible;
     }
     .anchor{
       display: none;
     }
   }
 
   @media screen and (min-width:701px){
 .hamburger{
   visibility: visible;
 }
  }