
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
  /*
   purple : #a31aff
   black : 
   white: 
   nav color : #25255b
   blue: #ccebff
   */

   body{
    margin: 0;
    padding: 0;
    }


    .navbar{
      background-color: #25255b;
      padding: 20px;
      text-align: center;
      }
      .head{
          text-decoration: none;
          padding: 15px;
          color: white;
          font-size: 35px;
      }
      .head:hover{
          background-color: black;
          border-radius: 15px;
      }
      
      .info{
      color: black;
      font-size: 60px;
      text-align: center;
      margin-top: 100px;
      }
      .hamburger{
    height: 40px;
    right: 10px;
    position: absolute;
   }
   @media screen and (max-width:700px){
     .hamburger{
       visibility: visible;
     }
     .anchor{
       display: none;
     }
   }
 
   @media screen and (min-width:701px){
 .hamburger{
   visibility: visible;
 }
  }



  